*{
    font-family: 'Space Grotesk', sans-serif;
    color: white;
}

body {
    background: rgb(4, 4, 4);
    background: linear-gradient(60deg, rgba(4, 4, 4, 1) 34%, rgba(12, 4, 24, 1) 62%, rgba(34, 3, 79, 1) 85%, rgba(54, 2, 129, 1) 97%, rgba(98, 0, 238, 1) 100%);
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 1.3vw;
}
body::-webkit-scrollbar {
    display: none;
}

.header {
    height: 10vh;
    width: 95%;
    display: flex;
    justify-content: space-between;
}


.companyName div {
    margin: 0 1.5vw;
    margin-top: 10%;
    font-size: 2vw;
    height: 100%;
}
.companyName div:hover{
    color: #6200EE;
}

.headerRight {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: flex-end;
}

.headerRight div {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerRight div button {
    background-color: #6200EE;
    height: 60%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border: 1px solid #6200EE;
}

.headerRight div button:hover {
    background-color: transparent;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    color: #6200EE;
    background-color: white;
}
.prices{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.pricing-plan {
    border: 1px solid #ccc;
    border-radius: 35px;
    background-color: rgba(0, 0, 0, 0.65);
    -webkit-backdrop-filter: saturate(200%) blur(5px);
    backdrop-filter: blur(5px);
    display: inline-block;
    margin: 0 2vw 2vw 2vw;
    width: 25vw;
    padding: 1vw;
}
#starter{
    border: 1px solid rgba(255, 187, 0, 0.3);
}
#professional{
    border: 1px solid rgba(0, 153, 255, 0.3);
}
#enterprise{
    border: 1px solid rgba(123, 85, 236, 0.5);
}
.top{
    display: flex;
    justify-content: space-between;
}
.s1 h2, .a{
    color:#fb0;
}
.s2 h2, .b{
    color: #09f;
}
.s3 h2, .c{
    color: #7b55ec;
}

.a{
    background-color: rgba(255, 187, 0, 0.3);
}
.b{
    background-color: rgba(0, 153, 255, 0.3);
}
.c{
    background-color: rgba(123, 85, 236, 0.3);
}
.right{
    font-size: 1.1vw;
    padding: 0.8vw;
    border-radius: 30px ;
}
h2{
    margin: 0;
}

.plans{
    margin: 0;
    padding: 2vw;
    text-align: left;
}

.price {
    font-size: 1.3vw;
}
.price span{
    font-size: 4vw;
    font-weight: bold;
}
.info{
    font-size: 1vw;
    color: grey;
    margin-bottom: 2vw;
}
hr{
    border: 0.5px solid rgba(128, 128, 128, 0.3);
}
.benefits {
    padding: 0 15px;
    list-style: none;
}

.benefits li {
    margin: 5px 0;
    padding-bottom: 1vw;
}
.benefits li:before {
    content: '\2714\0020';
}

button {
    border: none;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    padding: 1.5vw 7vw;
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
}
.b1{
    background-color: #fb0;
    border: 1px solid #fb0;
}
.b1:hover{
    border: 1px solid #fb0;
    background-color: rgba(0, 0, 0, 0);
    color: #fb0;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    
}
.b2{
    background-color: #09f;
    border: 1px solid #09f;
}
.b2:hover{
    border: 1px solid #09f;
    background-color: rgba(0, 0, 0, 0);
    color: #09f;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    
}
.b3{
    background-color: #7b55ec;
    border: 1px solid #7b55ec;
}
.b3:hover{
    border: 1px solid #7b55ec;
    background-color: rgba(0, 0, 0, 0);
    color: #7b55ec;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    
}

.footer {
    width: 100%;
    height: 5vh;
    background-color: #6200EE;
    display: flex;
    padding-left:2% ;
    align-items: center;
}